<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>EJS</title>
  </head>
  <body>
    <h1>This is my home page</h1>
    <H2><%= 5*6 %></H2>
    <H3><%= "APNACOLLEGE" .toLowerCase() %></H3>
    <h4><%= ["hello","namaste","hii"] [2] %></h4>
    <p>
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eaque
      perferendis est blanditiis amet officia aliquam! Iste ut rem explicabo, id
      maxime assumenda voluptate nihil. Reprehenderit maiores obcaecati enim
      dolor autem?
    </p>
    <button>Click Me</button>
  </body>
</html>
